.portfolio {
    border:6px black ridge;
    margin:20px;
    padding:20px;
    background-color:#ffba54;
}

.header {
    color:#de4b31;
    text-align:center;
    border:2px green inset;
    font-family:"Bebas Neue", cursive;
}

.works {
    display:flex;
    justify-content:center;
}

.works-header {
    display:flex;
    justify-content:center;
}

u {
    color:#de4b31;
    font-family:"Bebas Neue", cursive;
}

footer {
    font-size: 13px;
}

img {
    height:200px;
    width:200px;
    padding: 5%;
    position: relative;
}

h3 {
    font-style:italic;
}

body {
   background-color:lightblue;
}

.popcodeQuestDescription {
    color:blue;
    position:absolute;
    top:54%;
    left:31%;
    font-size:19px;
    font-family: "Press Start 2P", cursive;
}

.vehicleQuizDescription {
    color:purple;
    position:absolute;
    top:55%;
    left:45%;
    font-size:20px;
    font-family: "Rowdies", cursive;
}

.birdPicturesDescription {
    color:white;
    position:absolute;
    top:55%;
    left:60.5%;
    font-size:20px;
    font-family: "Playfair Display", serif;
}

div {
    margin:2%;
}